.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.modal_ficha{
    display: flex;
    max-width: 50%;
}

.display-fichas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}